.task-details {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .task-title {
    color: #333;
    font-size: 24px;
  }
  
  .task-info {
    margin-top: 20px;
  }
  
  .task-info p {
    margin-bottom: 10px;
  }
  
  .back-button {
    background-color: #ed863c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #d96432;
  }
  