

   <div class="task-form">
    <h2 class="form-title">Add/Edit Task</h2>
    <form (ngSubmit)="saveTask()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="task.title" name="title" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="task.description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <input type="text" id="status" [(ngModel)]="task.status" name="status" required>
      </div>
      <button class="save-button" type="submit">Save Task</button>
    </form>
  </div>
  